# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folders
.env
.venv
env/
venv/

# Ignore editor and OS files
.vscode/
.idea/
*.DS_Store

# Ignore our practice and temporary files
# We can add our specific file names here
clinic_appointment_schedule.py
lab_results_report.py
level_1_static_data_generator.py
level_2_dynamic_data_generator.py
ncd_2_ncd_data_generator.py
patient_vitals_log.py
app.py