# Ignore all CSV files except the one needed for SHAP
*.csv
!shap_background_data.csv

# Standard Python/System Ignores
__pycache__/
*.pyc
.env
.venv
.ipynb_checkpoints/

# Old model files
shap_explainer.pkl

# Old practice scripts
level_*.py
patient_vitals*.py
clinic_appointment*.py
lab_results*.py
generate_data.py
# Ignore any file that contains the text ", index=False"
*, index=False
